.jumbotron {
    background-image: url(../images/yellow-green-stained-glass.jpg);
    min-height: 1000px;
}
main {
    color: black;
    margin: auto 0;
}
.carousel {
    padding: 40px;
    height: 50%;
    width: 50%;
}
#about {
    height: 500px;
}
.bg-rose {
    background-color:#F4C3C2;
}
.text-gold {
    color: #A47E1B;
}


@media (max-width: 1024px) {
    .carousel {
        padding:20px;
        height: 100%;
        width: 100%;
    }
}
