.font-is {
    font-family: 'Imperial Script', cursive;
}
.font-ro {
    font-family: 'Roboto', sans-serif;
}
.bg-rose {
    background-color:#F4C3C2;
}
.bg-gold {
    background-color:#A47E1B;
}
.text-gold {
    color: #A47E1B;
}
.text-rose {
    color: #F4C3C2;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    font-size:3em;
}
.navbar-nav {
    font-size:larger;
}
.jumbotron {
    background-image: url(../images/shapes.png);
    min-height: 1000px;
}


.learn-more {
    transition-duration:0.2s;
    transition-delay: 0.02s;
}
.learn-more:hover {
    background-color:#A47E1B;
    color:#F4C3C2;
}
main {
    color: black;
    margin: auto 0;
}
.carousel {
    padding: 40px;
    height: 50%;
    width: 50%;
}
#about {
    height: 500px;
}

.contact-submit {
    color:black;
    transition-duration:0.2s;
    transition-delay: 0.02s;
}
.contact-submit:hover {
    color:#A47E1B;
    background-color:black;
}
.portfolio-link {
    color:#A47E1B;
    transition-duration:0.2s;
    transition-delay: 0.02s;
}

.portfolio-link:hover {
    color:#F4C3C2;
}


@media (max-width: 1024px) {
    .carousel {
        padding:20px;
        height: 100%;
        width: 100%;
    }
}
